
@{
    ViewBag.Title = "Create";
}

<h2>新增類別</h2>
<form method="post">
    <label>Name</label>
    <input name="Name" />
    <br />

    <label>Description</label>
    <input name="Description" />
    <br />

    <label>Image</label>
    <input id="ImageURL" name="ImageURL" type="hidden" />
    <input id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
    <img id="categoryImage" />
    <div class="thumb">
        <img id="categoryImage" />
    </div>
    
    <br />
    <label>Is Featured?</label>
    <input name="isFeatured" type="radio" value="True" />True
    <input name="isFeatured" type="radio" value="False"  />False

    <button type="submit">Save</button>
</form>
<script>
    //上傳圖片
    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData:false
        }).done(function (response) {
            debugger;
            console.log(response);
            //若回傳成功的話
            if (response.Success) {
                //顯示圖片
                $("#ImageURL").val(response.ImageURL);
                $("#categoryImage").attr("src", response.ImageURL);
            }
        }).fail(function (XMLHttpRequest, textStatus, errThrown) {
            alert("fail");
        });

    });

</script>

